APP_NAME=ACE
APP_ENV=production
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
APP_WEB_MAIL_PREVIEW_URL=https://aceexpress.azurewebsites.net/mail/preview/{uid}
APP_TIMEZONE=Asia/Singapore

ACE_URL=https://deloitte.test
ACE_SUPPORT_EMAIL=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=deloitte
DB_USERNAME=aceapp
DB_PASSWORD=myAceportal12@@

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=no-reply@deloitte.com
MAIL_FROM_NAME=no-reply

MAILGUN_DOMAIN=
MAILGUN_SECRET=


PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

# Application ID / Client ID
AZURE_KEY=1a9de922-3c05-4d7b-8af0-22255b3a0312
# App Secret
AZURE_SECRET=QL*eZ:7IsO0UfiYBn79Qh@LdTCqmbDZ+
# Defined redirect URL
AZURE_REDIRECT_URI=https://aceexpress.azurewebsites.net/auth/login/callback
# Tenant name e.g. developer.onmicrosoft.com
AZURE_TENANT=NETORGFT2389595.onmicrosoft.com

# List of whitelisted cross origin domains. Separate by comma.
ALLOWED_ORIGINS=

# Set to true if you want to send welcome (10) tokens to newly sync'd users
CRON_SEND_WELCOME=false
# Set to true if you want to send welcome email along with the tokens
CRON_SEND_WELCOME_EMAIL=true
# The amount of token to be sent as a welcome token
CRON_SEND_WELCOME_AMOUNT=10
# Set to true if you want to sync users every thirty minutes
CRON_SYNC_USERS=true
# Set the country filter for syncing users. Null for no filter.
CRON_SYNC_USERS_COUNTRY=null
# Exclude users which matches the departments from being sync'd (separated by comma).
CRON_SYNC_EXCLUDE_DEPARTMENTS=null
# Set to true if you want to send black tokens quarterly
CRON_SEND_BLACK_TOKENS_QUARTERLY=true
# Set to true if you want to audit and autocorrect token inconsistencies daily
CRON_AUDIT_TOKENS_DAILY=true
# Set to true if you want to send 10 black tokens to all users every 15 minutes. FOR TESTING PURPOSES ONLY!
CRON_SEND_BLACK_TOKENS_TEST=true
# Set to true if you want to send monthly summary
CRON_SEND_MONTHLY_SUMMARY=false

CONTACT_EMAIL_TECHNICAL=
CONTACT_EMAIL_REDEMPTION=
CONTACT_EMAIL_ACCESS=
CONTACT_EMAIL_TOKENS=
CONTACT_EMAIL_MESSAGES=

USER_USE_DEPARTMENT_ATTR=false
USER_ADMIN_AZURE_ID=

EDM_WELCOME_NAVIGATION_LINK=https://aceexpress.azurewebsites.net/navigation-link
EDM_WELCOME_ACE_LINK=https://aceexpress.azurewebsites.net
EDM_REDEEM_HISTORY_LINK=https://aceexpress.azurewebsites.net/profile/user-history
EDM_REDEEM_FAQ_LINK=https://aceexpress.azurewebsites.net/faq
EDM_MONTHLY_SUMMARY_ACE_STORE_LINK=https://aceexpress.azurewebsites.net/redeem
EDM_MONTHLY_SUMMARY_HISTORY_LINK=https://aceexpress.azurewebsites.net/profile/user-history

# Collection time (HH:mm) in 24 hour format
COLLECTION_TIME="15:00"

# SENTRY (ERROR TRACKING)
SENTRY_LARAVEL_DSN=https://b7bdcca8b31345209e2d9809ae7bcae5@sentry.io/1496606